/* ===== Reset ===== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ===== Documento ===== */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    background: url("/darkmode-15.png") center / cover no-repeat fixed;
    background-color: var(--color-base);
    color: var(--color-text);

    font-family:
        Inter,
        system-ui,
        sans-serif;
}

html[data-theme="light"] body {
    background-image: url("/lightmode-15.png");
}

#app {
    min-height: 100vh;
    background: linear-gradient(var(--color-bg-overlay), var(--color-bg-overlay));
}

/* ===== Brand logo ===== */
.brand-logo {
    width: 200px;
    height: 35px;
    background-image: url("../../public/logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

html[data-theme="light"] .brand-logo {
    background-image: url("../../public/logo-black.svg");
}

/* ===== Medios ===== */

img,
svg {
    display: block;
    max-width: 100%;
}

/* ===== Formularios ===== */

button,
input {
    font: inherit;
}

/* ===== Enlaces ===== */

a {
    color: inherit;
}
